# 1. Set the identity for the whole family
config ZMK_KEYBOARD_NAME
    default "Ferris"

# 2. Set the default role to NOT be the boss
config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_SPLIT
    default y

# 3. Only override the role for the actual Dongle
if SHIELD_CRADIO_DONGLE

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED=7

endif